*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.space-between{
  justify-content: space-between;
  
}

.logo-small{
  padding-right: 15px;
}

.link{
  padding-right: 30px;
  text-decoration: none;
  color: black;
  vertical-align: super;
}

.button{
  background-color: #0061FF;
  display: inline-block;
  color: white;
  padding: 5px;
  width: 60px;
  font-size: 14px;
  text-align: center;
}

/* hero */
.hero-content{
  background-color: #B4D0E7;
}

.container-hero{
  max-width: 1200px;
  margin: 0 auto;
 padding-top: 30px;
}

.title-hero{
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: bold;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-4{
  flex-basis: calc((100% / 12)*4);
}

.button-big{
  background-color: #0061FF;
  color: white;
  padding: 10px;
  width: 210px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.hero-text{
  padding-bottom: 30px;
}

.annulla{
  padding-top: 30px;
}

.fa-arrow-down{
  padding-top: 50px;
  font-size: 50px;
} 

.img-hero{
  width: 100%;
}

.col-8{
  flex-basis: calc((100% / 12)*8);
}

/* main  */

.container-main{
  min-height: 600px;
  border: 1px solid black;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 70px;
}

.title-main{
  padding-bottom: 50px;
}

.checkbox{
  padding-right: 40px;
}

.main{
  padding-top: 35px;
  gap: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-4{
  flex-basis: calc((100% / 12)*4);
}

.border-col{
  border: 1px solid black;
}

.category-col{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

.title-col{
  padding-top: 30px;
}

.month{
  line-height: 20px;
  color: rgba(53, 52, 52, 0.755);
  padding-bottom: 50px;
}

.padding-col{
  padding-left: 30px;
  padding-right: 30px;
  line-height: 40px;
}

.share{
  line-height: 20px;
  padding-bottom: 60px;
}

.prova-gratis{
  padding-left: 30px;
  padding-right: 30px;
  line-height: 80px;
}

