*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: black;
}

:root{
  --light-green: #A2D39B;
  --brodaux: #61082B;
  --red: #FF1C1C;
  --dark-red: #D5001F;
  --blue: #0061FF;
  --dark-blue: #0D2481;
  --light-blue: #B4D0E7;
  --yellow: #FFD830;
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-between;
}

.gap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

/* navbar  */
.logo-small{
  padding-right: 15px;
}

.container-big{
  padding: 20px;
}

.nav-items{
  padding-right: 30px;
  text-decoration: none;
  color: black;
  vertical-align: super;
}

.button{
  background-color: var(--blue);
  display: inline-block;
  color: white;
  padding: 5px;
  width: 60px;
  font-size: 14px;
  text-align: center;
}

/* hero */
.hero{
  background-color: var(--light-blue);
}

.container-hero{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

.title-hero{
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: bold;
}


.col-4{
  flex-basis: calc((100% / 12)*4);
}

.button-big{
  background-color: var(--blue);
  color: white;
  padding: 10px;
  width: 210px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}


.hero-content  i {
  font-size: 50px; 
} 

/* color icone  */
.fa-check{
  color:var(--blue) ;
}

.fa-folder, .fa-user, .fa-building, .fa-people-group, .fa-arrow-down, .fa-share-nodes{
color: #000000;;
}


.img-col{
  width: 100%;
}

.col-8{
  flex-basis: calc((100% / 12)*8);
}

/* main  */

.container-middle{
  padding-top: 70px;
  margin: 0 auto;
  max-width: 1100px;
}

.title-main{
  padding-bottom: 50px;
}

.checkbox{
  padding-right: 40px;
}

.main{
  padding-top: 35px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.card{
  border: 1px solid black;
  padding-bottom: 200px;
  height: 100%;
}

.category-col{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

.title-col{
  padding-top: 30px;
}

.month{
  line-height: 20px;
  color: rgba(53, 52, 52, 0.755);
  padding-bottom: 50px;
}

.padding-col{
  padding-left: 30px;
  padding-right: 30px;
}

.share{
  padding-bottom: 60px;
}

.line-height-80px{
  line-height: 80px
}

.line-height-40px{
  line-height: 40px;
}

.line-height-25px{
  line-height: 25px;
}

.prova-gratis{
  padding-left: 30px;
  padding-right: 30px;
}

.line{
  width: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.subtitle-col{
  line-height: 20px;
  padding-bottom: 20px;
}

ul{
  list-style: none;
  line-height: 30px;
  margin-left: 10px;
}

/* col team  */

.section-main{
  width: 100%;
}

.container-card-section{
  padding-top: 70px;
  margin: 0 auto;
  max-width: 1200px;
}

.col-12{
  flex-basis: 100%;
}
.padding-top{
  padding-top: 40px;
}

.title{
 display: inline-block;
}

.details{
 padding: 15px;
 margin-left: 10px;
}

.button-section{ 
  padding-left: 200px;
  background-color: var(--blue);
  color: white;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.card-section{
  border: 1px solid black;
  padding-bottom: 80x;
  height: 100%;
}

/* section foto paragrafo  */
.flex-direction{
  flex-direction: row-reverse;
  padding-top: 120px;
}

.section-img{
  padding: 20px;
}

.button-white{
  background-color: white;
  border: 1px solid black;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 150px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.title-link{
  padding-top: 40px;
  line-height: 60px;
}

/* section con foto aziende */
.debug{
  border: 1px solid black;
}

.col-2{
  flex-basis: calc((100% / 12) * 2);
  min-height: 200px;
}

.bg-light-green{
  background-color: var(--light-green);
}

