*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
}

.nav-container{
  min-height: 70px;
  border: 1px solid black;
}

.row-space-between{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.col{
  border: 1px solid black;
}

.hero-content{
  border: 1px solid black;
  background-color: #B4D0E7;
}

.container-hero{
  min-height: 700px;
  padding-left: 360px;
  padding-right: 360px;
  padding-top: 50px;
}

.title-hero{
  margin-bottom: 40px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
}

.col-4{
  flex-basis: calc((100% / 12)*4);
  border: 1px solid black;
}

.col-8{
  flex-basis: calc((100% / 12)*8);
  border: 1px solid black;

}